## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
predictors=concrete_data[['Cement','Blast Furnace Slag','Fly Ash','Water','Superplasticizer','Coarse Aggregate','Fine Aggregate']] #all colums except Strength and age

target=concrete_data[['Strength']] #strength as the target

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [8]:
target.head()

   Strength
0     79.99
1     61.89
2     40.27
3     41.05
4     44.30

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

WARNING: Logging before flag parsing goes to stderr.
W0716 13:19:59.823326  1484 deprecation.py:506] From C:\Users\Saurabh\anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

Next, we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

W0716 13:20:45.898226  1484 module_wrapper.py:139] From C:\Users\Saurabh\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
 - 0s - loss: 1556.0773
Epoch 2/100
 - 0s - loss: 1539.1459
Epoch 3/100
 - 0s - loss: 1522.1370
Epoch 4/100
 - 0s - loss: 1504.7321
Epoch 5/100
 - 0s - loss: 1487.1730
Epoch 6/100
 - 0s - loss: 1469.0128
Epoch 7/100
 - 0s - loss: 1450.2734
Epoch 8/100
 - 0s - loss: 1431.1337
Epoch 9/100
 - 0s - loss: 1411.3095
Epoch 10/100
 - 0s - loss: 1390.5774
Epoch 11/100
 - 0s - loss: 1369.7122
Epoch 12/100
 - 0s - loss: 1347.9515
Epoch 13/100
 - 0s - loss: 1325.2936
Epoch 14/100
 - 0s - loss: 1302.2042
Epoch 15/100
 - 0s - loss: 1278.3047
Epoch 16/100
 - 0s - loss: 1253.4707
Epoch 17/100
 - 0s - loss: 1228.1559
Epoch 18/100
 - 0s - loss: 1202.3428
Epoch 19/100
 - 0s - loss: 1175.9100
Epoch 20/100
 - 0s - loss: 1148.9174
Epoch 21/100
 - 0s - loss: 1121.5181
Epoch 22/100
 - 0s - loss: 1092.8161
Epoch 23/100
 - 0s - loss: 1064.6347
Epoch 24/100
 - 0s - loss: 1035.4796
Epoch 25/100
 - 0s - loss: 1005.5029
Epoch 26/100
 - 0s - loss: 975.4993
Epoch 27/100
 - 0s - loss: 944.9462
Epoch 28/100
 - 0s - loss: 913.8300
Epoch 29/100
 - 0s - loss: 883.1080
Epoch 30/100
 - 0s - loss: 852.4108
Epoch 31/100
 - 0s - loss: 822.2765
Epoch 32/100
 - 0s - loss: 791.7158
Epoch 33/100
 - 0s - loss: 762.2642
Epoch 34/100
 - 0s - loss: 732.4866
Epoch 35/100
 - 0s - loss: 703.4719
Epoch 36/100
 - 0s - loss: 675.0454
Epoch 37/100
 - 0s - loss: 646.5439
Epoch 38/100
 - 0s - loss: 618.9902
Epoch 39/100
 - 0s - loss: 592.0300
Epoch 40/100
 - 0s - loss: 565.5583
Epoch 41/100
 - 0s - loss: 540.0957
Epoch 42/100
 - 0s - loss: 515.1408
Epoch 43/100
 - 0s - loss: 491.0000
Epoch 44/100
 - 0s - loss: 467.5410
Epoch 45/100
 - 0s - loss: 445.4162
Epoch 46/100
 - 0s - loss: 423.7400
Epoch 47/100
 - 0s - loss: 403.6317
Epoch 48/100
 - 0s - loss: 384.2775
Epoch 49/100
 - 0s - loss: 366.7237
Epoch 50/100
 - 0s - loss: 349.6381
Epoch 51/100
 - 0s - loss: 334.6494
Epoch 52/100
 - 0s - loss: 320.5545
Epoch 53/100
 - 0s - loss: 307.9316
Epoch 54/100
 - 0s - loss: 296.6976
Epoch 55/100
 - 0s - loss: 286.5220
Epoch 56/100
 - 0s - loss: 277.2633
Epoch 57/100
 - 0s - loss: 269.4169
Epoch 58/100
 - 0s - loss: 262.1041
Epoch 59/100
 - 0s - loss: 255.6846
Epoch 60/100
 - 0s - loss: 250.1864
Epoch 61/100
 - 0s - loss: 245.0922
Epoch 62/100
 - 0s - loss: 240.7586
Epoch 63/100
 - 0s - loss: 236.7560
Epoch 64/100
 - 0s - loss: 233.4739
Epoch 65/100
 - 0s - loss: 230.2961
Epoch 66/100
 - 0s - loss: 227.3695
Epoch 67/100
 - 0s - loss: 224.8368
Epoch 68/100
 - 0s - loss: 222.5980
Epoch 69/100
 - 0s - loss: 220.5646
Epoch 70/100
 - 0s - loss: 218.5602
Epoch 71/100
 - 0s - loss: 216.8754
Epoch 72/100
 - 0s - loss: 215.1795
Epoch 73/100
 - 0s - loss: 213.6985
Epoch 74/100
 - 0s - loss: 212.2254
Epoch 75/100
 - 0s - loss: 210.8163
Epoch 76/100
 - 0s - loss: 209.4059
Epoch 77/100
 - 0s - loss: 208.0723
Epoch 78/100
 - 0s - loss: 206.6920
Epoch 79/100
 - 0s - loss: 205.4695
Epoch 80/100
 - 0s - loss: 204.2546
Epoch 81/100
 - 0s - loss: 203.1165
Epoch 82/100
 - 0s - loss: 202.1113
Epoch 83/100
 - 0s - loss: 201.1464
Epoch 84/100
 - 0s - loss: 200.1364
Epoch 85/100
 - 0s - loss: 199.2329
Epoch 86/100
 - 0s - loss: 198.3814
Epoch 87/100
 - 0s - loss: 197.3851
Epoch 88/100
 - 0s - loss: 196.5314
Epoch 89/100
 - 0s - loss: 195.7015
Epoch 90/100
 - 0s - loss: 194.9108
Epoch 91/100
 - 0s - loss: 194.0556
Epoch 92/100
 - 0s - loss: 193.3849
Epoch 93/100
 - 0s - loss: 192.6070
Epoch 94/100
 - 0s - loss: 191.8771
Epoch 95/100
 - 0s - loss: 191.1930
Epoch 96/100
 - 0s - loss: 190.4839
Epoch 97/100
 - 0s - loss: 189.7981
Epoch 98/100
 - 0s - loss: 189.1697
Epoch 99/100
 - 0s - loss: 188.4367
Epoch 100/100
 - 0s - loss: 187.8293

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 142us/step

187.75122178951128

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

187.75121716480464 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 142.95017928830242
MSE 2: 151.3927949084433
MSE 3: 148.17445062433632
MSE 4: 158.87294882863856
MSE 5: 149.97877354297822
MSE 6: 120.51282980218289
MSE 7: 152.70428363096366
MSE 8: 125.81683492814838
MSE 9: 139.51901817939043
MSE 10: 144.75282475246195
MSE 11: 130.1545332133963
MSE 12: 122.73447084889828
MSE 13: 124.53084050644563
MSE 14: 138.91475141704277
MSE 15: 123.75599986449801
MSE 16: 112.52240414912647
MSE 17: 124.34414497548322
MSE 18: 106.10465450348592
MSE 19: 119.96445324351487
MSE 20: 132.55720157067753
MSE 21: 118.87787408427513
MSE 22: 127.2785223309662
MSE 23: 127.51563299975349
MSE 24: 124.59596170962436
MSE 25: 116.19960572572974
MSE 26: 123.80709295674049
MSE 27: 141.7153241796401
MSE 28: 138.16325748776927
MSE 29: 132.87618949421017
MSE 30: 124.56346046423063
MSE 31: 121.65837467526927
MSE 32: 138.7026990748532
MSE 33: 128.60084558382005
MSE 34: 125.93469801226865
MSE 35: 132.14688283185743
MSE 36: 143.22373399456728
MSE 37: 129.65181692672778
MSE 38: 125.78323369195932
MSE 39: 127.75863203030188
MSE 40: 113.94571861094256
MSE 41: 120.7732741223184
MSE 42: 126.67940869377655
MSE 43: 138.29914488067132
MSE 44: 127.12250553365664
MSE 45: 123.84737586357832
MSE 46: 122.2398769539151
MSE 47: 116.76326714673088
MSE 48: 135.10264468887476
MSE 49: 122.69465044632699
MSE 50: 132.31456771406155


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 129.98189264175045
Standard Deviation: 11.071485535737796

As Compare to Part B Mean and Standard Deviation both decreased.